<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FlipKart_TestSuite" parallel="none">

	<Listeners>
		<Listener class-name="com.lma.extentReportListener.ExtentReporterNG"</Listener>
	</Listeners>

	<test name="Flipkart App Test cases">
		<classes>
			<class name="com.lma.testScriptsPages.LoginPageTest" />
			<class name="com.lma.testScriptsPages.LogOutPageTest" />
			<!-- <class name="com.lma.testScriptsPages.LogOutPageTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
